$black: #000000;
$white: #ffffff;
$backDrop: rgba(0,0,0,.5);
$red: #8B0000;

// Main colors
$background: #FFEBC1;
$outline: #B29056;
$linkBackground: rgba(183, 146, 87, .56);
$gray: #f5f5f5;
$purple: #625772;
$boxBackground: rgba(255, 235, 193, .65);