@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@import "@/assets/styles/colors.scss";
@include textfield.core-styles;

.mdc-button--raised{
  background-color: $black !important;
  color: $white;
  border-radius: 50px;
}