@import "../fonts/roboto.scss";
section.section-pagewrap{
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: $background;
  padding-top: 55px;
  padding-bottom: 20px;
  .greed{
    margin-top: 20px;
    .person{
      h1{
        font-size: 28px;
        letter-spacing: 2px;
        font-weight: $medium;
        margin-bottom: 0px;
      }
      span{
        font-size: 21px;
        letter-spacing: 2px;
        font-weight: $medium;
        margin-bottom: 0px;
        margin-left: 10px;
      }
    }
    .btn-wrap{
      margin-bottom: 10px;
      button{
        span{
          &.mdc-button__label{
            font-size: 11px;
            letter-spacing: 0px;
          }
        }
      }
    }
  }
  .nav{
    margin-top: 5px;
    .link-wrapper{
      margin: 30px 0 0 0;
      margin-left: 15px;
      a{
        font-weight: $medium;
        font-size: 18px;
      }
    }
  }
  .movies{
    margin-top:40px;
    margin-bottom: 20px;
  }
}